<div>
  hitung:{{hasilnya}}
</div>
<button (click)="angka(1)">1</button>
<button (click)="angka(2)">2</button>
<button (click)="angka(3)">3</button><br>
<button (click)="angka(4)">4</button>
<button (click)="angka(5)">5</button>
<button (click)="angka(6)">6</button><br>
<button (click)="angka(7)">7</button>
<button (click)="angka(8)">8</button>
<button (click)="angka(9)">9</button><br>
<button (click)="tambah()">+</button>
<button (click)="kurang()">-</button>
<button (click)="kali()">*</button>
<button (click)="samadengan()">=</button>